@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

.navBar {
  background-color: #4d636f;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navBar .fa-solid {
  font-size: 20px;
  color: white;
}

.navBar .fa-solid:hover {
  color: #000000;
  cursor: pointer;
  background-color: aliceblue;
}

a {
  text-decoration: none;
}

.logoDiv {
  color: white;
  background-color: #3a4b53;
  margin-left: 0.5em;
}

.rightNavBar {
  display: flex;
  gap: 1.5em;
  align-items: center;
}

.navBar i {
  padding: 1em;
}

.leftNavBar {
  padding: 1em;
  margin-right: 1em;
}

.leftNavBar img {
  width: 40px;
}

.collapsDiv {
  display: none;
  padding: 1em;
}

.collapsDiv .btn {
  background-color: #3a4b53;
  color: white;
}

.collapsDiv .btn:hover {
  background-color: #97b3c1;
  color: black;
}

.dropdown-content i {
  background-color: #3a4b53 !important;
}

.dropdown-content {
  width: 7em !important;
}

@media (max-width: 700px) {
  .rightNavBar {
    display: none;
  }
  .collapsDiv {
    display: block;
  }
  .homeDiv {
    flex-direction: column;
    align-items: center;
  }
}

.homeDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2em;
  margin-top: 4em;
  flex-wrap: nowrap;
}

.leftDiv,
.middleDiv,
.rightDiv {
  display: flex;
  flex-direction: column;
}

.leftDiv,
.rightDiv {
  width: 20%;
}

.profileDiv {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myProfileP {
  font-size: 20px;
  text-align: center;
}

.profileDiv img {
  width: 30%;
  border-radius: 50%;
}

.ImgDivCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px #6c7d85;
  border-radius: 0.5em;
}

.ImgDivCard span {
  color: black;
}

.ProfileTextDiv i {
  color: #607d8b;
  font-size: medium;
}

.groups-event-photosDiv2 {
  color: white;
  padding: 0.5em;
  box-shadow: 0 0 1px #6c7d85;
  border-radius: 0.5em;
}

.groups-event-photosDiv2:hover {
  background-color: #97b3c1;
  cursor: pointer;
  color: black;
}

.groups-event-photosDiv2:hover i {
  color: black;
}

.groups-event-photosDiv {
  box-shadow: 0 0 10px #6c7d85;
  border-radius: 0.5em;
  margin: 1em;
  background-color: #7d97a5;
}

.intrestDiv {
  box-shadow: 0 0 10px #6c7d85;
  border-radius: 0.5em;
  margin: 1em;
}

.intrestItem {
  font-size: 12px;
  padding: 0px 1em;
}

.i1 {
  background-color: #303e45;
  color: white;
}
.i2 {
  background-color: #435761;
  color: white;
}
.i3 {
  background-color: #57707d;
  color: white;
}
.i4 {
  background-color: #7d97a5;
  color: white;
}
.i5 {
  background-color: #becbd2;
  color: black;
}
.i6 {
  background-color: #dfe6e9;
  color: black;
}
.i7 {
  background-color: #e4e9eb;
  color: black;
}

.heyDiv {
  margin: 1em;
  border-radius: 1em;
  box-shadow: 0 0 10px #6c7d85;
}

.writPostDiv {
  box-shadow: 0 0 10px #6c7d85;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em;
}

.middleDiv {
  width: 45%;
}

.writPostDiv .btn {
  background-color: #4d636f;
  color: white;
}

.writPostDiv .btn:hover {
  color: black;
}

.adsDiv {
  box-shadow: 0 0 5px #6c7d85;
  border-radius: 0.5em;
  padding: 2em;
  margin-top: 2em;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.post1Div , .post2Div , .post3Div {
  box-shadow: 0 0 10px #6c7d85;
  border-radius: 0.5em;
  padding: 2em;
  margin: 2em 1em;
}
